CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE="postgresql://postgres:root@localhost:5432/postgres"

CORS_ORIGINS="http://localhost:5173,https://em-conta-web.pages.dev"

BETTER_AUTH_URL="http://localhost:8787"
BETTER_AUTH_SECRET=""
INTERNAL_API_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
